@import '../../styles/variables.scss';

.invoice {
  .go-back-button {
    background: none;
    border: 0;
    color: $color-text;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    padding: 0;
    span {
      &::before {
        content: "";
        background-image: url("../../assets/icon-arrow-left.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 8px;
        height: 8px;
        display: inline-block;
        margin-right: 8px;
      }
    }
  }
  header.invoice__header {
    background-color: $color-background-darker;
    padding: 32px;
    border-radius: 10px;
    margin-top: 32px;
    margin-bottom: 32px;
    .invoice-status {
      display: flex;
      align-items: center;
      span {
        margin-right: 8px;
        font-size: 12px;
        color: $color-text-helper;
      }
    }
    .invoice-actions {
      & > *:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
  section.invoice__body {
    color: $color-text;
    background-color: $color-background-darker;
    padding: 32px;
    border-radius: 10px;
    .invoice__details {
      font-size: 14px;
      .sender-details {
        display: flex;
        justify-content: space-between;
        .sender-heading {
          display: flex;
          flex-direction: column;
          .invoice-id {
            font-weight: 700;
            margin-bottom: 8px;
            .invoice-id__mark {
              font-weight: 400;
              color: #7E88CE;
            }
          }
          .invoice-description {
            font-size: 12px;
            color: $color-text-helper;
          }
        }
        .sender-address {
          display: flex;
          flex-direction: column;
          font-size: 12px;
          font-weight: 300;
          & > *:not(:last-child) {
            margin-bottom: 8px;
          }
        }
      }
      .client-details {
        display: flex;
        justify-content: space-between;
        margin-top: 32px;
        column-gap: 16px;
        .title {
          font-size: 12px;
          color: $color-text-helper;
          margin-bottom: 8px;
        }
        .col-1 {
          flex: 1;
          & > * {
            margin-bottom: 16px;
          }
          span {
            display: block;
          }
        }
        .col-2 {
          flex: 1;
          .client-address {
            color: $color-text-helper;
            font-size: 12px;
            margin-top: 16px;
            span {
              display: block;
              margin-bottom: 8px;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
        .col-3 {
          flex: 1;
        }
      }
    }
    .invoice-table {
      margin-top: 32px;
      background-color: $color-background-dark;
      border-radius: 10px;
      table {
        width: 100%;
        border-spacing: 0;
        thead {
          th {
            font-size: 12px;
            font-weight: 300;
            color: $color-text-helper;
            padding: 32px 32px 24px;
          }
        }
        tbody {
          td {
            padding: 32px 32px 24px;
            font-weight: 600;
            font-size: 14px;
          }
        }
        tfoot {
          td {
            font-size: 12px;
            padding: 32px;
            background-color: #0C0E16; 
            &:last-child {
              font-size: 24px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}