@import './variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Spartan', sans-serif;
  background-color: $color-background-darkest;
  .app-container {}
  main.app-main {}
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // width: 100%;
  // height: 100vh;
}

.app-container {
  display: flex;
  min-height: 100vh;
}

.app-main {
  flex: 1;
}

.page {
  width: 750px;
  margin: 32px auto 0;
  .page__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-text;
    margin-bottom: 32px;
    h1 {
      margin: 0 0 16px;
    }
    small {
      color: $color-text-helper;
    }
  }
  .page__body {}
  &.page--invoices {}
  &.page--invoice {}
}